In [ ]:
x = 5
y = "John"
print(x)
print(y)

In [4]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [ ]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

In [ ]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
print(x)

In [ ]:
a = "Hello, World!"
b = a.split(",")
print(b)

In [ ]:
age = 36
print(f"My name is John, I am {age}")

In [ ]:
txt = "Hello, And Welcome To My World!"

x = txt.casefold()
y= txt.lower()
print('**********')

print(x)
print(y)
print('**********')


x = txt.capitalize()
y= txt.upper()
print(x)
print(y)

In [ ]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price =100))

In [ ]:
a = 7
b = 3

# Multiplication
mul_result = a * b
print("Multiplication:", mul_result)

# Division
div_result = a / b
print("Division:", div_result)

# Floor Division
floor_div_result = a // b
print("Floor Division:", floor_div_result)

# Modulus
mod_result = a % b
print("Modulus:", mod_result)

In [ ]:
mylist = ['apple', 'banana', 'cherry']
print(mylist)
mylist[1:2] = ['kiwi', 'mango']
print(mylist)
print(mylist[2])

In [ ]:
a = ["apple", "banana", "cherry"]
b = ["mango", "pineapple", "papaya"]
a.extend(b)
print(a)
print(b)

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    newlist.append('apple')
    print(x)

print(newlist)

In [9]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse= True)
print(thislist)
print(thislist[1::3])

[100, 82, 65, 50, 23]
[82, 23]