pip install yfinance

pip install pandas

In [25]:
import yfinance as yf
import pandas as pd
import time

# List of tickers for Indian IT companies
tickers = ['TCS.NS', 'INFY.NS', 'WIPRO.NS', 'HCLTECH.NS', 'TECHM.NS']  # Add more tickers as needed

# Create a list to store individual DataFrames
dataframes = []

# Loop through each ticker and fetch the historical data
for ticker in tickers:
    try:
        stock = yf.Ticker(ticker)
        hist = stock.history(period="1y")  # Fetch historical data for the last year
        
        # Reset index to make date a column
        hist.reset_index(inplace=True)
        
        # Add a column for the ticker symbol
        hist['Ticker'] = ticker
        
        # Append the DataFrame to the list
        dataframes.append(hist)
        
        # Sleep for a short time to avoid hitting API limits
        time.sleep(1)

    except Exception as e:
        print(f"Error fetching data for {ticker}: {e}")

# Concatenate all DataFrames into a single DataFrame
all_hist = pd.concat(dataframes, ignore_index=True)

# Print the combined historical market data
print(all_hist)

# Export the data to a CSV file
all_hist.to_csv('it_stocks_historical_data.csv', index=False)

print("Data exported to it_stocks_historical_data.csv")

                          Date         Open         High          Low  \
0    2023-10-09 00:00:00+05:30  3584.435949  3617.821341  3570.619540
1    2023-10-10 00:00:00+05:30  3579.519173  3587.336923  3541.462768
2    2023-10-11 00:00:00+05:30  3589.303629  3589.303629  3545.051940
3    2023-10-12 00:00:00+05:30  3515.550963  3528.973879  3479.264673
4    2023-10-13 00:00:00+05:30  3471.299175  3517.517606  3466.382320
...                        ...          ...          ...          ...
1220 2024-10-01 00:00:00+05:30  1580.000000  1642.900024  1580.000000
1221 2024-10-03 00:00:00+05:30  1615.000000  1631.150024  1596.150024
1222 2024-10-04 00:00:00+05:30  1591.000000  1648.400024  1591.000000
1223 2024-10-07 00:00:00+05:30  1624.949951  1632.050049  1600.199951
1224 2024-10-08 00:00:00+05:30  1625.000000  1635.000000  1603.599976

            Close   Volume  Dividends  Stock Splits    Ticker
0     3577.847412  4233074        0.0           0.0    TCS.NS
1     3568.554443  1848148        0.0           0.0    TCS.NS
2     3549.870361  2426417        0.0           0.0    TCS.NS
3     3483.640625  4241281        0.0           0.0    TCS.NS
4     3511.469971  2890357        0.0           0.0    TCS.NS
...           ...      ...        ...           ...       ...
1220  1625.400024  5176596        0.0           0.0  TECHM.NS
1221  1604.050049  2332279        0.0           0.0  TECHM.NS
1222  1616.449951  2927576        0.0           0.0  TECHM.NS
1223  1618.550049  1619326        0.0           0.0  TECHM.NS
1224  1629.099976  1311331        0.0           0.0  TECHM.NS

[1225 rows x 9 columns]
Data exported to it_stocks_historical_data.csv

In [26]:
import pandas as ps
import numpy as np
import matplotlib.pyplot as olt
import seaborn as sns

In [27]:
data_load = pd.read_csv('it_stocks_historical_data.csv')

In [28]:
data_load.dtypes

Date             object
Open            float64
High            float64
Low             float64
Close           float64
Volume            int64
Dividends       float64
Stock Splits    float64
Ticker           object
dtype: object

In [29]:
data_load['Date'] = pd.to_datetime(data_load['Date'])
data_load['Date'].head(1)
data_load['Date'] = data_load['Date'].dt.strftime('%Y-%m-%d')

data_load['Date'].head(1)
data_load['Date'] = pd.to_datetime(data_load['Date'])
data_load['Date'].head(1)

0   2023-10-09
Name: Date, dtype: datetime64[ns]

In [30]:
data_load.head(2)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Ticker
0,2023-10-09,3584.435949,3617.821341,3570.619540,3577.847412,4233074,0.0,0.0,TCS.NS
1,2023-10-10,3579.519173,3587.336923,3541.462768,3568.554443,1848148,0.0,0.0,TCS.NS