In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
nifity_50 = pd.read_csv('nifty_50_historical_data_5y.csv')

In [5]:
nifity_50.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Dividends',
       'Stock Splits'],
      dtype='object')

In [7]:
nifity_50.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2019-09-27 00:00:00+05:30,11556.349609,11593.599609,11499.750000,11512.400391,650000,0.0,0.0
1,2019-09-30 00:00:00+05:30,11491.150391,11508.250000,11390.799805,11474.450195,756800,0.0,0.0
2,2019-10-01 00:00:00+05:30,11515.400391,11554.200195,11247.900391,11359.900391,1305400,0.0,0.0
3,2019-10-03 00:00:00+05:30,11322.250000,11370.400391,11257.349609,11314.000000,1017500,0.0,0.0
4,2019-10-04 00:00:00+05:30,11388.450195,11400.299805,11158.349609,11174.750000,928500,0.0,0.0