In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
data_load = pd.read_csv('PremierLeagueSeason2024.csv')
data_load

,team,goals_scored,goals_conceded,wins,draws,losses,points,goal_difference,rank
0,Manchester City,179,66,55,12,9,177,113,1
1,Liverpool,154,83,44,19,13,151,71,2
2,Arsenal,146,68,46,12,18,150,78,3
3,Manchester United,130,102,39,17,20,134,28,4
4,Chelsea,135,99,37,19,20,130,36,5
5,Tottenham Hotspur,142,106,38,14,24,128,36,6
6,Aston Villa,131,107,36,15,25,123,24,7
7,West Ham United,122,121,33,18,25,117,1,8
8,Everton,87,99,30,17,29,107,-12,9
9,Newcastle United,131,124,30,15,31,105,7,10
10,Crystal Palace,98,124,25,18,33,93,-26,11
11,Wolverhampton Wanderers,86,117,25,16,35,91,-31,12
12,Brighton and Hove Albion,95,108,21,26,29,89,-13,13
13,Fulham,82,114,18,21,37,75,-32,14
14,Leicester City,68,50,20,6,12,66,18,15
15,Burnley,74,133,15,18,43,63,-59,16
16,Leeds United,62,54,18,5,15,59,8,17
17,Bournemouth,54,67,13,9,16,48,-13,18
18,Southampton,47,68,12,7,19,43,-21,19
19,Brentford,56,65,10,9,19,39,-9,20
20,Sheffield United,55,167,10,9,57,39,-112,21
21,Nottingham Forest,49,67,9,9,20,36,-18,22
22,Luton Town,52,85,6,8,24,26,-33,23
23,West Bromwich Albion,35,76,5,11,22,26,-41,24